.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .board {
    background-color: white;
    min-width: 40%;
    border-radius: 4px;
    padding: 1rem;
    margin: 0.5rem;
    & > * {
      margin: 0.5rem 0;
    }
    .top,
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
